button {
    font-size: 15px;
    background-color: rgb(103, 153, 206);
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    margin: 2px;
}

input {
    font-size: 15px;
    color: rgb(120, 120, 120);
}

select {
    font-size: 15px;
    color: rgb(120, 120, 120);
}

body {
    font-size: 15px;
    font-family: sans-serif;
}
